<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>253418086605-ejoa169kqp79bvj50kmt8thndhuuk9i7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.253418086605-ejoa169kqp79bvj50kmt8thndhuuk9i7</string>
	<key>API_KEY</key>
	<string>AIzaSyBPJVIRDVejKMSQp--apxAgYh-xJ8U-uEs</string>
	<key>GCM_SENDER_ID</key>
	<string>253418086605</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.courier.ios-example</string>
	<key>PROJECT_ID</key>
	<string>courier-test-cdbbd</string>
	<key>STORAGE_BUCKET</key>
	<string>courier-test-cdbbd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:253418086605:ios:acac776d9a980ad25f8984</string>
</dict>
</plist>