<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>491107096905-tqjeesukbb05hkhemsqgen6o2cbonh0l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.491107096905-tqjeesukbb05hkhemsqgen6o2cbonh0l</string>
	<key>API_KEY</key>
	<string>AIzaSyDDbmAWc7GMBdAxNQne7lpvHMk6Llk4Ahs</string>
	<key>GCM_SENDER_ID</key>
	<string>491107096905</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.courier.ios-example</string>
	<key>PROJECT_ID</key>
	<string>courier-ios-internal</string>
	<key>STORAGE_BUCKET</key>
	<string>courier-ios-internal.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:491107096905:ios:14c84a11a7e6d3cbff2298</string>
</dict>
</plist>