.DS_Store
/.build
/Packages
/Pods
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/config/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
save_changes.sh
GoogleService-Info.plist*
Example/Example/GoogleService-Info.plist
Env.swift
/Pod-Example/Pods
/.swiftpm
Example/build/
/build