<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Kind</key>
    <string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
    <key>Identifier</key>
    <string>com.apple.dt.unit.notificationserviceextensionios</string>
    <key>Ancestors</key>
    <array>
        <string>com.apple.dt.unit.iosAppExtensionBase</string>
    </array>
    <key>Concrete</key>
    <true/>
    <key>Description</key>
    <string>This template builds a Notification Service application extension.</string>
    <key>Targets</key>
    <array>
        <dict>
            <key>TargetIdentifier</key>
            <string>com.apple.dt.notificationServiceExtension</string>
        </dict>
    </array>
    <key>Options</key>
    <array>
        <dict>
            <key>Identifier</key>
            <string>languageChoice</string>
            <key>Units</key>
            <dict>
                <key>Objective-C</key>
                <dict>
                    <key>Nodes</key>
                    <array>
                        <string>NotificationService.h</string>
                        <string>NotificationService.m</string>
                    </array>
                    <key>Definitions</key>
                    <dict>
                        <key>NotificationService.h</key>
                        <dict>
                            <key>Path</key>
                            <string>NotificationService.h</string>
                        </dict>
                        <key>NotificationService.m</key>
                        <dict>
                            <key>Path</key>
                            <string>NotificationService.m</string>
                        </dict>
                    </dict>
                </dict>
                <key>Swift</key>
                <dict>
                    <key>Nodes</key>
                    <array>
                        <string>NotificationService.swift</string>
                    </array>
                    <key>Definitions</key>
                    <dict>
                        <key>NotificationService.swift</key>
                        <dict>
                            <key>Path</key>
                            <string>NotificationService.swift</string>
                        </dict>
                    </dict>
                </dict>
            </dict>
        </dict>
    </array>
    <key>Nodes</key>
    <array>
        <string>Info.plist:NSExtension</string>
    </array>
    <key>Definitions</key>
    <dict>
        <key>Info.plist:NSExtension</key>
        <string><![CDATA[<key>NSExtension</key>
<dict>
    <key>NSExtensionPointIdentifier</key>
    <string>com.apple.usernotifications.service</string>
    <key>NSExtensionPrincipalClass</key>
    <string>___VARIABLE_moduleNamePrefixForClasses:XML___NotificationService</string>
</dict>
]]></string>
	</dict>
	<key>Image</key>
	<dict>
		<key>SystemSymbolName</key>
		<string>bell.badge</string>
    </dict>
</dict>
</plist>
