<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>694725526129-c1qo4ua5r9nc3q2619pmsjjhj9ddgrvm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.694725526129-c1qo4ua5r9nc3q2619pmsjjhj9ddgrvm</string>
	<key>API_KEY</key>
	<string>AIzaSyBNrs37yi9iJb5d8d27CBF8ViRo4_TNhs4</string>
	<key>GCM_SENDER_ID</key>
	<string>694725526129</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.courier.example-swift</string>
	<key>PROJECT_ID</key>
	<string>test-fcm-e7ddc</string>
	<key>STORAGE_BUCKET</key>
	<string>test-fcm-e7ddc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:694725526129:ios:2faeb9504bca610e8811d0</string>
</dict>
</plist>